body {
  margin: 0;
  padding: 0;
  background-color: #343f56;
}

.header {
  width: 90%;
  padding: 5% 3% 0;
}

.contact {
  margin-top: 25px;
}

h1 {
  font-size: 7em;
  color: #ffc93c;
  font-family: 'Fredoka One', cursive;
}

h2 {
  color: #ffc93c;
  font-size: 3rem;
  font-family: 'Anton', sans-serif;
}

a {
  color: #ffc93c;
  margin: 0 25px 0 0;
}

@media only screen and (max-width: 600px) {
  body {
    text-align: center;
  }

  .header {
    margin: 25px auto;
  }

  .contact {
    margin-top: 45px;
  }

  a{
    display: block;
    padding: 3%;
  }

}
